{% load static %}
{% include "main/base.html" %}

<link rel="stylesheet" href="{% static "social_media/css/index.css" %}">

<!DOCTYPE html>
{% block content %}

    <div class="container">
        <div class="row sc-place">
            
            {% for bot in timetable_bots %}
            <div class="col-6">
                <div class="sc-block">
                    <h3>
                        {{bot.title}}
                    </h3>
                    <div class="sc-imgs">
                        <div class="sc-icon" style="background-image: url('{{bot.bg_img.url}}')"></div>
                        <div class="sc-qr" style="background-image: url('{{bot.qr_code.url}}');"></div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>    
    </div>

{% endblock content %}