@charset "utf-8";

@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat-Bold.ttf');
}

body {
    background-color: rgb(31, 42, 30);
}

.logo-place {
    position: absolute;
    left: 10px;
    top: 15px;
}

